<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Priview</title>
    <link rel="icon" type="image/x-icon" sizes="180x180" href="https://i.pinimg.com/236x/19/86/08/1986080fa9c26cf5104ce1576fdd9f95.jpg">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">

</head>
<body>
    {% include 'common/header.html' %}

    <div class="container mt-5">
        <div class="d-flex justify-content-end mt-3">
            <div class="col-md-4 d-flex align-items-end">
                <button id="downloadResumeBtn" class="btn btn-success" style="margin-top: 17%;">Download Resume</button>
            </div>
        </div>
        
        <div id="resumePreview" class="mt-4">
            <div id="resumeContent">
                <!-- Preview of the resume based on the selected template will go here -->
            </div>
        </div>
        </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<script src="/static/js/resume/resumePreviewController.js"></script>
</html>