<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Priview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">

</head>
<body>
    {% include 'common/header.html' %}

    <div class="container mt-5">
        <div class="d-flex justify-content-end mt-3">
            <div class="col-md-4 d-flex align-items-end">
                <button id="downloadResumeBtn" class="btn btn-success" style="margin-top: 17%;">Download Resume</button>
            </div>
        </div>
        
        <div id="resumePreview" class="mt-4">
            <div id="resumeContent">
                <!-- Preview of the resume based on the selected template will go here -->
            </div>
        </div>
        </div>
</body>
<script src="/static/js/resumePreviewController.js"></script>
</html>