{% include 'common/admin_sidenavbar.html' %}
{% include 'common/admin_topnavbar.html' %}

<div class="container mt-5">
    <div class="card p-3 shadow">
        <h5 class="mb-3">Search Users</h5>
        <div class="row g-3">
            <div class="col-md-4">
                <input type="text" name="search" placeholder="Search by Name or Email" class="form-control search-input">
            </div>
            <div class="col-md-3">
                <input type="datetime-local" name="start-datetime" class="form-control start-datetime">
            </div>
            <div class="col-md-3">
                <input type="datetime-local" name="end-datetime" class="form-control end-datetime">
            </div>
            <div class="col-md-2 text-end">
                <button class="btn btn-primary searchBtn">Search</button>
            </div>
        </div>
    </div>
</div>

<!-- User Search Result Modal -->
<div class="modal fade" id="userViewMoreModal" tabindex="-1" aria-labelledby="userViewMoreLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userViewMoreLabel">User more details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="searchResultContainer">
                <!-- User details will be injected here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- User Table -->
<div class="container mt-4">
    <div class="card p-3 shadow">
        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="userTableBody">
                <!-- Users will be dynamically loaded here -->
            </tbody>
        </table>
    </div>
    <div id="pagination-controls">
        <button id="prev-page" class="btn btn-page" disabled><i class="fa-solid fa-arrow-left"></i> Previous</button>
        <span id="page-info">Page 1 of 1</span>
        <button id="next-page" class="btn btn-page" disabled><i class="fa-solid fa-arrow-right"></i> Next</button>
    </div>
</div>

<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="newPasswordInput" class="form-label">New Password</label>
                <input type="password" id="newPasswordInput" class="form-control" placeholder="Enter new password">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="confirmChangePassword" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="static/js/admin/adminUserController.js"></script>
