 <!-- Top Navbar -->
 <nav class="top-navbar navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="d-flex justify-content-end w-100">
            <li>
                <span id="notificationBtn" class="nav-item">
                    <i class="fa-solid fa-bell"></i> Notifications
                </span>
            </li>
            <li>
                <span id="createResumeBtn" class="nav-item">
                    <i class="fa-solid fa-circle-plus"></i> Create Resume
                </span>
            </li>
            <li>
                <button class="btn btn-danger" id="logoutBtn">
                    <i class="fa-solid fa-sign-out-alt"></i> Logout
                </button>
            </li>
        </ul>
    </div>
</nav>  